<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42092857898-teanruteq6mj1ek88hmnlm418o282tdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42092857898-teanruteq6mj1ek88hmnlm418o282tdh</string>
	<key>API_KEY</key>
	<string>AIzaSyAP7n5y-mtuXIHWQVVcHv_W1P4k7LvK2v8</string>
	<key>GCM_SENDER_ID</key>
	<string>42092857898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classico</string>
	<key>PROJECT_ID</key>
	<string>student-marketplace-66768</string>
	<key>STORAGE_BUCKET</key>
	<string>student-marketplace-66768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42092857898:ios:7b7bfcdfdd008da5f7d153</string>
</dict>
</plist>